
<style type="text/css">

</style>

<section class="Barista">
  <h1 style="text-align: center;"><strong>精品咖啡豆烘焙師</strong></h1>
        <img src="http://www.mistobox.com/v/vspfiles/assets/images/man.jpg" class="img-circle"選擇喜好/></br>
        <img src="http://www.mistobox.com/v/vspfiles/assets/images/coffeebox.jpg" class="img-circle"選擇喜好/></br>
        <img src="http://www.mistobox.com/v/vspfiles/assets/images/coffeebox.jpg" class="img-circle"選擇喜好/></br>
        <img src="http://www.mistobox.com/v/vspfiles/assets/images/coffeebox.jpg" class="img-circle"選擇喜好/></br>
        <img src="http://www.mistobox.com/v/vspfiles/assets/images/coffeebox.jpg" class="img-circle"選擇喜好/></br>

  <!--   <p><div class="threecol-one"><a href="http://idealbrew.co/monthly-subscription/"><img class="wp-image-900 alignnone" title="tasty coffee subscription" alt="ideal brew monthly coffee subscription" src="http://idealbrew.co/wp-content/uploads/2012/11/2-subscriptions.jpg" width="270" height="218" /></a></div> <div class="threecol-one"><a href="http://idealbrew.co/monthly-subscription/"><img class="alignnone  wp-image-742" alt="ideal brew coffee subscription" src="http://idealbrew.co/wp-content/uploads/2012/09/enjoy2-300x241.jpg" width="270" height="217" /></a></div> <div class="threecol-one last"><a href="http://idealbrew.co/monthly-subscription/"><img class="alignnone  wp-image-743" title="satisfaction ideal brew coffee subscription" alt="coffee subscription You're going to love it!" src="http://idealbrew.co/wp-content/uploads/2012/09/satisfaction1.jpg" width="267" height="215" /></a></div></p>
    <img src="..." class="img-circle"> -->
    <a href="http://localhost:3000/pages/price" class="btn btn-warning btn-large" >我想要訂</a>

</section><!-- /.entry -->
