
<style type="text/css">
table{
	margin-left: 200 pt;
}
section .buttomsub{ 
 position: absolute;
 top: 40 pt;
 left: 140 pt;
 width: 180 pt;
 height: 60 pt;
 

    } 
</style>

<section class="entry">
       </br>     </br>
<!--         <img src="/assets/4.png" class="img-circle"選擇喜好/>
        <img src="http://www.mistobox.com/v/vspfiles/assets/images/man.jpg" class="img-circle"選擇喜好/>
        <img src="/assets/2.png" class="img-circle"選擇喜好/>
        <img src="http://www.mistobox.com/v/vspfiles/assets/images/man.jpg" class="img-circle"選擇喜好/>
        <img src="http://www.mistobox.com/v/vspfiles/assets/images/man.jpg" class="img-circle"選擇喜好/>
    </br> -->

    <table margin-left="200 pt" width="860" border="0">
	  <tbody><tr>
	    <td width="180" align="center"><img src="/assets/2.png" height="80" alt="blank" target="_blank" align="" style="" border="0"></td>
	    <td width="180" align="center"><img src="/assets/2.png" height="80" alt="" align="" style="" border="0"></td>
	    <td width="180" align="center"><img src="/assets/2.png" height="80" alt="" align="" style="" border="0"></td>
		<td width="180" align="center"><img src="/assets/2.png" height="80" alt="" align="" style="" border="0"></td>
	   <td width="180" align="center"><img src="/assets/2.png" height="80" alt="" align="" style="" border="0"></td>
	   
	    </tr>

	<tr>
    <td width="180" align="center">挑選訂閱方案</td>
    <td width="180" align="center">建立專屬豆單</td>
    <td width="180" align="center">填寫訂閱資訊</td>
    <td width="180" align="center">沖煮精品咖啡</td>
    <td width="180" align="center">問卷豆單調整</td></tr>
</tbody></table>
     </br>     </br>
<h1 style="text-align: center;"><strong>用最簡單的方法 找 最喜歡的咖啡</strong></h1>

   <div class="buttomsub">
    <a href="http://localhost:3000/pages/price" class="btn btn-warning btn-large" >我想要訂</a>
   </div>
</section><!-- /.entry -->
