
<div class="home">      
    <div id="landing">
        <div class="container">
  <!--           <header class="hero-unit">
             <h1>
                All your links
                <small>Organized, archived and searchable</small>
            </h1>
            <p><a class="btn btn-green btn-large" href="/signup/" data-link="modal" data-target="#signup-modal">Sign up for free</a></p>
          </header>
          </div>
          
          <div class="container">
          <section>
              <div class="row features">
      
                <div class="span6">
                  <i class="bookmarking"></i>
                  <h3>One place for your links</h3>
                   <p>
                       With Kippt it’s easy to collect all your links from apps and services. Set up syncs or use our browser extensions.
                    </p>
                    <a href="/sync/">Learn more</a>
                </div>

              <div class="span6">
                  <i class="search"></i>
                  <h3>Organized and archived</h3>
                  <p>When you save something in Kippt, it’s  archived and there when you need it. Everything is archived and searchable.</p>
                  <a href="/archive/">Learn more</a>
                </div>
                
                <div class="span6">
                  <i class="collaborate"></i>
                  <h3>Discover and share</h3>
                  <p>Collect links with your colleagues for a certain project, to share what you know and follow what others are discovering.</p>
                  <a href="/discover/">Learn more</a>
                </div> -->
                
            </div>
            </div>


<div class="Welcome">
   
  <div class="row-fluid cta">
<!-- <div class="span5 image" style="float:right">
      <img src="http://bfell.s3.amazonaws.com/assets/home/clothes.jpg"/>
    </div> -->
<div>


</div>
 <div class="topleft">
        <br />
        <br />
        <br />
        <br />
        <h1><span class="hidden">     </span></h1>
        <h2><span class="first">散落的咖啡豆 佈滿整個房間<br />想要逃離這個擁擠的城市 <strong>卻離不開你</strong></span>
        <span class="second"><br /><strong>這是最後一次</strong>任性的<br />沈醉在沒有你的咖啡香</span>
        <br /><br />
        </h2>
        <p class="prefered">Better <strong>Coffee Beans</strong> & <strong>make a better cup  </strong>
        <br /><strong>Coffee101</strong></p>
        <!-- <p class="twitter">You will find us on Twitter as 
        <a href="http://twitter.com/#!/karimartin" target="blank">@karimartin</a> & <a href="http://twitter.com/#!/osilly" target="blank">@osilly</a></p> -->
        
 </div>
      
   <!--    <div class="topright"><span class="hidden">coffee 101</span></div> -->
    
</div>
    

<!-- 
    <div class="span11">
      <h2>咖啡戀人</h2>
      <p>Coffee101 是一家提供咖啡豆的雲端咖啡館<br />在這裡 您將可以享受到世界級的精品咖啡豆，<br />透過台灣咖啡師的烘培技術，享受與眾不同的咖啡香</p>
 -->
        <br />
        <br />
      <div class="cta-buttons">
        <a class="btn btn-large btn-primary" href="http://www.bombfell.com/start1">開始訂豆</a>
<!--         <a class="btn btn-large btn-info" href="http://www.bombfell.com/how-it-works1">細細品嘗</a>
      </div> -->
    </div>

 </div>  
  </div>
          <style>
            
        img {
        max-width: 100%;
        width: 300px;
        height: 200px;
        vertical-align: middle;
        border: 0;
        -ms-interpolation-mode: bicubic;
        }
          
          </style>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
   
      </li>
    </ul>
  </div>
</div>
</div>


 <div class = "container">
  <div class="marketing">
   <h1>Coffee 101</h1>
   <!--  <p class="marketing-byline">用最簡單的方法 找 最喜歡的咖啡</p> -->
  <style type="text/css">.p {text-align: center}</style>
    <div class="row-fluid">
      
      <div class="span4">
        <img class="marketing-img" src="http://ezgo.coa.gov.tw/graph/spots/G_tseng_20091224105652/G_tseng_20091224105652_general_000003s2.jpg">
       <!--  https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&docid=PhHgDhODfESw2M&tbnid=CJweALyOJXaOZM:&ved=0CAUQjRw&url=http%3A%2F%2Fwww.epochtimes.com%2Fb5%2F12%2F1%2F4%2Fn3476650.htm%25E5%259B%25A0%25E7%2582%25BA%25E6%2584%259B%25E9%2580%2599%25E7%2589%2587%25E5%259C%259F%25E5%259C%25B0--%25E5%258A%2589%25E6%2598%2593%25E9%25A8%25B0%25E6%2594%25B9%25E8%25A1%258C%25E7%25A8%25AE%25E5%2592%2596%25E5%2595%25A1&ei=CG9AUcr_PKSViAfj_IDgCw&psig=AFQjCNHPjix5-BO72PfDan29ZXpiJmTamg&ust=1363263585305290 -->
        <h2>精品莊園豆</h2>
        <p>來自單一莊園咖啡豆或由數個咖啡農的合作社所生產的豆種，由於咖啡會因為品種，生產地區，產期氣候，土壤與種植方式的不同而造成風味上的差異，因此透過本站認證的咖啡師對咖啡生豆品質的堅持，以求供給消費者品質優良的咖啡。</p>

<!-- 
         and is managed through <a href="http://github.com">GitHub</a> to help nerds do awesome stuff on the web.</p>-->
      </div> 
      <div class="span4">
        <img class="marketing-img" src="http://sphotos-a.xx.fbcdn.net/hphotos-ash3/s480x480/541239_399453713460441_1327822434_n.jpg">
        <h2>專業咖啡師</h2>
        <p>同樣的精品品咖啡豆交到不同的咖啡師手中烘培，會得到韻味完全相異的咖啡，烘焙的溫度，時間甚至天氣，都會造成口感上的差異，但也因此讓我們有機會品嚐到各種調性的咖啡。</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="http://b.blog.xuite.net/b/a/d/d/22069136/blog_1464655/txt/46095112/2.jpg">
        <h2>沖煮好喝咖啡</h2>
        <p>不論是手沖還是虹吸的煮法，又會是義式咖啡都適合用高品質的單品咖啡豆，再加上專業的封裝與保存，當咖啡豆運送到使用者手中的時候，依然保留了剛烘培完成的風味。</p>
      </div>
    </div>

 </div>
</div>

<!-- 
  <li><a href="/archive">{lang:Archive}</a></li>
  <li><a href="{RSS}">{lang:RSS}</a></li>
        <li><a href="/projects">悄悄話</a></li> -->