<footer class="footer">
  <%= render_list :class => "nav nav-pills pull-right" do |li|
      #li << link_to( "Link1", "#")
      #li << link_to( "Link2", "#")   
      #li << link_to( "Link3", "#")
      #li << link_to( "Link4", "#")


  end %>
   <div class="coffee101"></div>
    <div class="container">
      <div class="row-fluid">
       <!--  <div class="span2">
          <dl>
            <dd><a href="http://www.bombfell.com/about/us">About</a></dd>
            <dd><a href="http://www.bombfell.com/faq">FAQ</a></li>
            <dd><a href="http://blog.bombfell.com">Blog</a></li>
            <dd><a href="http://www.bombfell.com/about/contact">Contact</a></dd>
          </dl>
        </div> -->
        <div class="span2">
         <!--  <dl>
            <dd><a href="http://www.bombfell.com/gift">Give a Gift</a></dd>
            <dd><a href="http://www.bombfell.com/how-it-works">How it works</a></dd>
            <dd><a href="http://www.bombfell.com/pricing">Pricing</a></dd>
            <dd><a href="http://www.bombfell.com/threads">Threads</a></dd>
          </dl> -->
        </div>
        <div class="span4">
        <!--   <dl>
            <dd><a href="http://www.bombfell.com/about/jobs">Jobs</a></dd>
            <dd><a href="http://www.bombfell.com/returns">Free returns &amp; exchanges</a></dd>
 -->          <!--   <li>
              <span src="https://www.facebook.com/plugins/like.php?href=app_id=208021349239276&amp;href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FBombfell%2F185176041524288&amp;send=false&amp;layout=button_count&amp;show_faces=true&amp;width=220&amp;action=like&amp;font&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true" id="facelike"></span>
            </li> -->
         <!--  </dl> -->
        </div>
        <div class="span 12 social">
          <a href="http://blog.bombfell.com" class="icon blog" target="_blank"><i class="icon-rss"></i></a>
          <a href="http://facebook.com/bombfell" class="icon facebook" target="_blank"><i class="icon-facebook"></i></a>
          <a href="http://twitter.com/bombfell" class="icon twitter" target="_blank"><i class="icon-twitter"></i></a>
          <a href="http://pinterest.com/bombfell" class="icon pinterest" target="_blank"><i class="icon-pinterest"></i></a>
       <p class="copyright">Copyright @2013 <%= Setting.app_name %> All rights reserved.</p>
      </div>
     </div>
  
</footer>